<ul id="toc" class="no-bullet">
    <li><a href="#installation">Installation</a></li>
    <li><a href="#videos">Instructional Videos</a></li>
    <li><a href="#homepage">Homepage Setup</a></li>
    <li><a href="#listings">Adding &amp; Managing Listings</a></li>
    <li><a href="#taxonomies">Custom Taxonomies and Usage</a></li>
    <li><a href="#images">Uploading Listing &amp; Blog Post Images</a></li>
    <li><a href="#navigation">Building Out Your Navigation, "Find a Home"</a></li>
    <li><a href="#frontend">Front End Listing System</a></li>
    <li><a href="#agents">Agents</a></li>
    <li><a href="#colisting">Co-listing</a></li>
    <li><a href="#dsidxpress">dsIDXpress</a></li>
    <li><a href="#customizer">Advanced Theme Customizer</a></li>
    <li><a href="#visualcomposer">Visual Composer</a></li>
    <li><a href="#revslider">Revolution Slider</a></li>
    <li><a href="#wpfavorites">WP Favorite Posts</a></li>
    <li><a href="#booking">Booking Calendar</a>
    <li><a href="#walkscore">Walk Score</a></li>
    <li><a href="#wpallimport">WP All Import</a></li>
    <li><a href="#permalinks">Using Permalinks</a></li>
    <li><a href="#templates">Custom Page Templates</a></li>
    <li><a href="#widgets">Custom Widgets</a></li>
    <li><a href="#wpml">WPML</a></li>
    <li><a href="#translation">Translation</a></li>
    <li><a href="#css">CSS</a></li>
    <li><a href="#javascript">JavaScript</a></li>
    <li><a href="#psd">PSD</a></li>
    <li><a href="#childthemes">Child Theme Generator</a></li>
    <li><a href="#advdev">Advanced Development</a></li>
    <li><a href="#support">Support</a></li>
    <li><a href="#faq">FAQ</a></li>         
</ul>

<hr>

<h2 id="installation"><strong>Installation</strong> <a href="#toc">top</a></h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/qECw_cUIMsM" frameborder="0" allowfullscreen></iframe>

<ol>
    <li>Unzip the main zip file; you should now have a main download folder.</li>
    <li>Do NOT upload the main download folder. Open up the main download folder.</li>
    <li>Browse the contents and find realestate-7.zip.</li>
    <li>Login to your WordPress admin > Appearance > Themes</li>
    <li>Add New</li>
    <li>Upload realestate-7.zip</li>
    <li>Activate</li>
    <li>Once activated you'll see a required plugins install notice, click "Begin Installing Plugins" follow the steps and activate each.</li>
</ol>
    
<h3>Importing a Demo</h3>
<p>Recommend doing this on a fresh WP install however it can be done on an existing database with content.</p>
<ol>
    <li>Go to Real Estate 7 Options</li>
    <li>Click Demo Importer</li>
    <li>Select a demo</li>
    <li>Click Import Demo</li>
    <li>Let it do its thing, this will take a few minutes</li>
    <li>It'll show "Imported" when its finished</li>
    <li>That's it!</li>
</ol>

<h3>Manual Homepage Setup*</h3>
<ol>
    <li>Create a page > name it Home > apply the Home page template > Publish</li>
    <li>Settings > Reading > Front Page Displays > Set to the Home page you just created > Save</li>
    <li>Now go into Admin > Real Estate 7 Options > Homepage > Layout Manager > Enable/Disable and orgainize the blocks you want.</li>
    <li>Save Settings</li>
    <li>And you're good to go!</li>
</ol>

<h3>Choosing your Theme Mode</h3>
<p>The theme comes with two modes, Multi &amp; Single Listing. Which can be selected in Real Estate 7 Options > General Settings > Multi-Listing or Single Listing Mode. Multi is just as its states and Single is tailored toward a landing page type site to feature one specific listing (no navigation or other pages used).</p>

<small><strong>*If you imported a demo skip this</strong></small>

<hr>

<h2 id="videos"><strong>Instructional Videos</strong> <a href="#toc">top</a></h2>

<ul>
<li><a href="https://www.youtube.com/watch?v=qECw_cUIMsM">Installing Real Estate 7</a></li>
    <li><a href="https://www.youtube.com/watch?v=lF_0xoAzlZM">Adding &amp; Managing Listings</a></li>
    <li><a href="https://www.youtube.com/watch?v=FsimsoJw1kY">General Options Overview</a></li>
    <li><a href="https://www.youtube.com/watch?v=osPEg_AZk2U">Adding &amp; Editing User/Agent Information</a></li>
    <li><a href="https://www.youtube.com/watch?v=6a2QdXyHnTI">Front End Listing System</a></li>
    <li><a href="https://www.youtube.com/watch?v=p1Gp8N56bqA">Advanced Theme Customizer</a></li>
</ul>

<hr>

<h2 id="homepage"><strong>Homepage Setup</strong> <a href="#toc">top</a></h2>

<h3>Layout Manager</h3>

<p>There's no wrong or right way to setup your homepage, a countless number of possible setups are available.</p>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/layout-manager.png" />
</figure>

<ul>
    <li><strong>Revolution Slider</strong> - Activated by default, either one can be toggled on/off independently. Slider alias can be added in the Revolution Slider sub panel.</li>
    <li><strong>FlexSlider</strong> - For basic static content, recommend using Revolution Slider instead. Slide content can be added via the FlexSlider sub panel.</li>
    <li><strong>Featured Listings</strong> - Activated by default, can be toggled on/off. Options can be configured in the Featured Listings sub panel.</li>
    <li><strong>Featured Map</strong> - Displays a large map of listings tagged as Featured, can be toggle on/off.</li>
    <li><strong>Call To Action</strong> - Activated by default, can be toggled on/off. Content can be added via the Call To Action sub panel.</li>
    <li><strong>Listings Search</strong> - Activated by default, can be toggled on/off. Fields can be toggled on/off via the Advanced Search sub panel.</li>
    <li><strong>dsIDXpress Search</strong> - If you're using the dsIDXpress plugin activate this in place of the default Listings Search, once enabled go into Appearance > Widgets > find the IDX Search widget > add to dsIDXpress Homepage > select the horizontal layout option > Save.</li>
    <li><strong>Testimonials</strong> - slider, add content in Testimoinals panel with drag &amp; drop modules.</li>
    <li><strong>Partners</strong> - display partner company logos with optional links, add content in Partners panel with drag &amp; drop modules.</li>
    <li><strong>Page Builder</strong> - Disabled by default, can be toggled on/off. You can enable either of these blocks. Create a page > add your content with Visual Composer > Publish > set the page in one of the options below. Make sure you've enabled either Page Builder block from the Layout Manager as well.</li>
    <li><strong>Four Column</strong> - Widget area, add widgets via Appearance > Widgets > Four Column Homepage.</li>
</ul>

<h3>Advanced Search</h3>

<p>Here you can choose your style, and add/remove/sort fields for the advanced search area.</p> 

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/advanced-search.png" />
</figure>

<ul>
    <li>Type</li>
    <li>City</li>
    <li>State</li>
    <li>Zip/Postcode</li>
    <li>Beds</li>
    <li>Baths</li>
    <li>Price From</li>
    <li>Price To</li>
    <li>Status</li>
    <li>Additional Features</li>
    <li>Country</li>
    <li>Community</li>
    <li>MLS</li>
</ul>

<hr>

<h2 id="listings"><strong>Adding &amp; Managing Listings</strong> <a href="#toc">top</a></h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/lF_0xoAzlZM" frameborder="0" allowfullscreen></iframe>

<hr>

<h2 id="taxonomies"><strong>Custom Taxonomies and Usage</strong> <a href="#toc">top</a></h2> 

<p>You'll notice the theme makes heavy use of Taxonomies for the Listings, each of these are detailed out below:</p>
<ul>
    <li>
        <strong>Property Type</strong>: Can be anything you wish and as many as you like, in the demo I've only used two Condo/Townhome &amp; Single Family Home.
        <ul>
            <li><strong>Commercial, Land or Lot</strong>: Any listing given this type will remove the "bed, bath &amp; on" sitewide.</li>
        </ul>
    </li>
    <li><strong>Beds</strong>: Number of beds, can be any amount you like.</li>
    <li><strong>Baths</strong>: Number of baths, can be any amount you like.</li>
    <li><strong>Status</strong>: Can be anything you wish and have as many as you like, in the demo you'll notice I've used a few. Although there are some that are necessary to add for certain functions.
        <ul id="snipes">
            <li><strong>For Sale</strong>: Any listing given this status will add a <span class="snipe for-sale">For Sale</span> flag over the image across the site.</li>
            <li><strong>Featured</strong>: Any listing given this status will appear in the homepage area and large map.</li>
            <li><strong>For Rent or Rental</strong>: Any listing given this status will add a <span class="snipe for-rent">For Rent</span> or <span class="snipe rental">Rental</span> flag over the image across the site.</li>
            <li><strong>Leased</strong>: Any listing given this status will add a <span class="snipe leased">Leased</span> flag over the image across the site.</li>
            <li><strong>Reduced</strong>: Any listing given this status will add a <span class="snipe reduced">Reduced</span> flag over the image across the site.</li>
            <li><strong>Sold</strong>: Any listing given this status will add an <span class="snipe sold">Sold</span> flag over the image across the site.</li>
            <li><strong>Open House</strong>: Any listing given this status will add a <span class="snipe open-house">Open House</span> flag over the image across the site.</li>
            <li><strong>Available</strong>: Any listing given this status will add a <span class="snipe available">Available</span> flag over the image across the site.</li>
            <li><strong>New Addition</strong>: Any listing given this status will add a <span class="snipe new-addition">New Addition</span> flag over the image across the site.</li>
            <li><strong>Special Offer</strong>: Any listing given this status will add a <span class="snipe special-offer">Special Offer</span> flag over the image across the site.</li>
        </ul>   
    </li>
    <li><strong>City</strong>: City the listing is located in, used for mapping.</li>
    <li><strong>State</strong>: State the listing is located in, used for mapping.</li>
    <li><strong>Zipcode</strong>: Zipcode the listing is located in, used for mapping.</li>
    <li><strong>Additional Features</strong>: Can be anything you like, and as many as you like. Some I've used in the demo: Concierge, Forced air heat, Family room is 20×12, Single story, etc&hellip;</li>
</ul>
    
<hr>

<h2 id="images"><strong>Uploading Listing &amp; Blog Post Images</strong> <a href="#toc">top</a></h2> 
<ul>
    <li><strong>Listings</strong>: No messing around with copy/pasting URL's for images, this theme makes it so easy to add unlimited photos to your listings:
        <ol>
            <li>Open up a listing</li>
            <li>Click "Set Featured Image" upper right</li>
            <li>Click Upload or select from Media Library</li>
            <li>Click Set Featured Image</li>
            <li>That's it!</li>
            <li>If you would like to add more images, follow the steps below and a slider/carousel will be automatically generated:
                <ol>
                    <li>Open up a listing</li>
                    <li>Find the Slider Images block</li>
                    <li>Click Add or Upload File</li>
                    <li>Upload all the images you like (NOTE: images MUST be uploaded/attached to that listing otherwise they won't be displayed)</li>
                    <li>Once uploaded, click use this file</li>
                    <li>Click Publish or Update and view your listing.</li>
                    <li><strong>Reordering Slider Images</strong>
                        <ol>
                            <li>Open up a listing</li>
                            <li>Click Add Media button</li>
                            <li>Click the Media Library tab</li>
                            <li>Select Attached to post</li>
                            <li>Now you can click and drag your images around to sort them.</li>
                            <li>Once done, just close the window click Update and you're good to go.</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol> 
    </li>
    <li><strong>Blog</strong>: Blog postings work the same way as above.</li>
</ul>
    
<hr>

<h2 id="navigation"><strong>Building Out Your Navigation, "Find A Home"</strong> <a href="#toc">top</a></h2>

<p>You'll use Appearance > Menus to build out your navigation. What you can do is use the Advanced search area and select one or mulitple taxonomies to search on and that URL that is generated you can use to build a Custom Link for your navigation.

<p><strong>For instance:</strong>

<ul>
    <li><strong>All Listings or "Find A Home":</strong><br />
    http://yourdomain.com/?search-listings=true</li>

    <li><strong>For Sale &amp; San Diego:</strong><br />
    http://yourdomain.com/?ct_city=san-diego&amp;ct_status=for-sale&amp;search-listings=true</li>
    
    <li><strong>For Rent</strong><br />
    http://yourdomain.com/?ct_ct_status=for-rent&amp;search-listings=true</li>
    
    <li><strong>1 Car Garage</strong><br />
    http://yourdomain.com/?ct_additional_features=1-car-garage&amp;search-listings=true</li>
    
    <li><strong>3 Beds</strong><br />
    http://yourdomain.com/?ct_beds=3&amp;search-listings=true</li>
</ul>

<p>More on the Menus screen can be found here: <a href="http://codex.wordpress.org/Appearance_Menus_Screen">http://codex.wordpress.org/Appearance_Menus_Screen</a></p>

<hr>

<h2 id="frontend"><strong>Front End Listing System</strong> <a href="#toc">top</a></h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/6a2QdXyHnTI" frameborder="0" allowfullscreen></iframe>

<p>Once you've imported a demo everything is setup and ready to go out of the box, if not you'll need to create pages and apply its corresponding template.</p>

<h3>Page Templates</h3>

<ul>
    <li>Edit Listing (template-edit-listing.php)</li>
    <li>Edit Profile (template-edit-profile.php)</li>
    <li>Favorite Listings (template-favorite-listings.php)</li>
    <li>Submit Listing (template-submit-listing.php)</li>
    <li>View Listings (template-view-listings.php)</li>
</ul>

<h3>Admin Options</h3>

<p>You can set the page IDs in Real Estate 7 Options > Front End Submission, along with some other options.</p>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/frontend.png" />
</figure>

<h3>Front End Registration</h3>

<p>NOTE: Make sure you have Settings > General > Membership > Anyone can register > checked</p> 

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/register.png" />
</figure>

<hr>

<h2 id="agents"><strong>Agents</strong> <a href="#toc">top</a></h2>

<h3>Adding User/Agent Information</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/osPEg_AZk2U" frameborder="0" allowfullscreen></iframe>

<h3>Setting Up Agents Page</h3>

<p>If you've imported one of the demos you can skip this, if not read on!</p>

<ol>
    <li>Create a Page</li>
    <li>Title it Agents or whatever you'd like</li>
    <li>Apply the Agents page template</li>
    <li>Publish!</li>
</ol>

<hr>

<h2 id="colisting"><strong>Co-listing</strong> <a href="#toc">top</a></h2>

<p>If you've enabled the Co-Authors plugin, you'll notice a new "Authors" block added to the Edit Listing panel under the "Video" block. This is where you add your co-listing agents, just start typing the agents name and it'll do a ajax search once it comes up click to apply, then update your listing. You can apply as many as you'd like.</p>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/colisting-admin.png" />
</figure>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/colisting.png" />
</figure>

<hr>

<h2 id="dsidxpress"><strong>dsIDXpress</strong> <a href="#toc">top</a></h2>

<p>Please see <a href="http://helpdesk.diversesolutions.com/category/ds-idxpress/">dsIDXpress Getting Started Guide</a> for all the information you need to start using the plugin on your site.</p>

<p>Once you've installed the plugin you can enable the dsIDXpress search for the homepage.</p>

<h3>1. Add the dsIDXpress search widget</h3>

<ol>
    <li>Go into Appearance</li>
    <li>Widgets</li>
    <li>Find the IDX Search widget</li>
    <li>Add to dsIDXpress Homepage</li>
    <li>Select the horizontal layout option</li>
    <li>Save</li>
</ol>

<h3>2. Enable the dsIDXpress search homepage block</h3>

<ol>
    <li>Go into Real Estate 7 Options</li>
    <li>Homepage</li>
    <li>Layout Manager</li>
    <li>dsIDXpress Search</li>
    <li>Save Settings</li>
</ol>

<p>You're all set!</p>

<p class="note"><strong>NOTE:</strong> You don't have to use dsIDXpress, you can use any IDX plugin you'd like I've just built in custom CSS and functions for dsIDXpress as it seems to be the most popular pick out there.</p>

<hr>

<h2 id="customizer"><strong>Advanced Theme Customizer</strong> <a href="#toc">top</a></h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/p1Gp8N56bqA" frameborder="0" allowfullscreen></iframe>

<h3>Taking it a step further</h3>

<p>If you want to go buck wild and make modifications beyond what can be handled in the Advanced Theme Customizer than you'll want to checkout the section on <a href="#childthemes">Child Themes</a>.</p>

<h2 id="visualcomposer"><strong>Visual Composer</strong> <a href="#toc">top</a></h2>

<p>Please see <a href="https://wpbakery.atlassian.net/wiki/display/VC/Visual+Composer+Pagebuilder+for+WordPress">Visual Composer Pagebuilder for WordPress</a> for all the information you need to start using the plugin on your site.</p>

<p>Real Estate 7 includes a custom Listings module under the CT Listings tab, with options for number, type, beds, baths, status, city, state, zip/postcode, country, community &amp; additional features.</p>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/visual-composer.png" />
</figure>

<hr>

<h2 id="revslider"><strong>Revolution Slider</strong> <a href="#toc">top</a></h2>

<p>Please see <a href="http://www.themepunch.com/revslider-doc/welcome-slider-revolution/">Revolution Slider documentation</a> for all the information you need to start using the plugin on your site.</p>

<p>The demo slider zips are included in the main download you got from Themeforest, or if you imported a demo each comes with its corresponding slider automatically!</p>

<p>I've also included the demo sliders PSD, you'll find it in the main download > rev-slider > rev-slider.psd.</p>

<hr>

<h2 id="wpfavorites"><strong>WP Favorite Posts</strong> <a href="#toc">top</a></h2>

<p>Once you've enabled WP Favorites, you'll need to make the following modifications to the settings page. Otherwise it won't display properly.</p>

<ol>
    <li>Go into Settings > WP Favorite Posts</li>
    <li>Before Link Image set to No Image</li>
    <li>Text for add link change to &lt;i class="fa fa-heart-o"&gt;&lt;/i&gt;</li>
    <li>Text for added change to &lt;i class="fa fa-heart"&gt;&lt;/i&gt;</li>
    <li>Text for remove change to &lt;i class="fa fa-heart"&gt;&lt;/i&gt;</li>
    <li>Text for removed change to &lt;i class="fa fa-heart-o"&gt;&lt;/i&gt;</li>
    <li>Scroll to Advanced Settings > check "Don't load js file" (I've built in custom JS)</li>
    <li>Update Options</li>
</ol>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/wp-fav-posts.png" />
</figure>

<hr>

<h2 id="booking"><strong>Booking Calendar</strong> <a href="#toc">top</a></h2>

<p>If you're using the booking calendar, you'll notice once its been enabled that a "Rentals" block gets added to the Edit Listings area with all the associated fields. You can find more on the ins and outs of the plugin in the <a href="http://wpbookingcalendar.com/help/">documentation</a>.</p> 

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/booking.png" />
</figure>

<hr>

<h2 id="walkscore"><strong>Walk Score</strong> <a href="#toc">top</a></h2>

<p>Walk Score is the only international measure of walkability and the leading provider of neighborhood maps to the real estate industry. More than 30,000 websites use the Walk Score Neighborhood Map and we serve over 20 million scores each day.</p>

<p>In order to use Walk Score on your site you'll first need to get an API Key <a class="button button-primary" href="https://www.walkscore.com/professional/api-sign-up.php" target="_blank">here</a></p> 

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/walkscore.png" />
</figure>

<hr>

<h2 id="wpallimport"><strong>WP All Import</strong> <a href="#toc">top</a></h2>

<p>WP All Import allows you to import posts and custom post types (like listings) using CSV, XML, and XLS files. The WP Pro Real Estate 7 Add-On will customize WP All Import to seamlessly import all of your listings in to the WP Pro Real Estate 7 theme.</p>

<h3>Install the Main Plugin and Add On Plugin</h3>

<ol>
    <li>Plugins > Add New > Search > WP All Import > Install &amp; Activate</li>
    <li>Then grab the Add On via Plugins > Add New > Search > WP All Import Real Estate 7 > Install &amp; Activate</li>
    <li>Once you've done that proceed with the steps below</li>
</ol>

<h3>Preparing Your CSV File</h3>

<p>WP All Import can handle any valid CSV file and it doesn't care what order your columns or in or how they're labeled. With WP All Import Pro you can even pass your data through custom PHP functions during the import process.</p>

<p>Columns you may want to include in your file:</p>

<ul>
    <li>Property Title</li>
    <li>Property Description</li>
    <li>Street Address</li>
    <li>City</li>
    <li>State</li>
    <li>Zip or Postcode</li>
    <li>Slider Images</li>
    <li>Files &amp; Documents</li>
    <li>Video URL</li>
    <li>Listing Price</li>
    <li>Listing Details (price, property ID, fees, etc)</li>
</ul>

<h3>Importing your CSV File</h3>

<p>First go to the WP All Import section of your WordPress admin panel and click ‘New Import’.</p>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/import-1.png" />
</figure>

<p>You’ll be prompted to upload your CSV file. Then, select 'Listings' from the items dropdown and Continue to Step 2.</p>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/import-2.png" />
</figure>

<p>In Step 2, verify that your import file was correctly uploaded and understood by WP All Import. If everything looks good, Continue to Step 3.</p>

<h3>Configuring your Import Template</h3>

<p>In Step 3 you will need to tell WP All Import how to import each of the columns in your CSV file. Simply drag the data from right to left:</p>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/import-3.png" />
</figure>

<p>When you're done configuring your import template, Continue to Step 4 where you’ll choose a Unique ID (you should pretty much always use 'Auto Detect'). Then you can review your import and click 'Confirm & Run Import'.</p>

<h3>Documentation for WP All Import</h3>

<p>If you run in to any issues you can read more about WP All Import <a class="button button-primary" href="http://www.wpallimport.com/documentation/" target="_blank">here</a></p> 

<hr>

<h2 id="permalinks"><strong>Using Permalinks</strong> <a href="#toc">top</a></h2>

<p>Set your permalink structure in Settings > Permalinks, any structure can be used.</p>

<p>I've also included the ability to change the Category, Tag and Author base slugs. For instance you can change the default http://example.com/author/username to http://example.com/agents/username when using the Author Base field under Settings > Permalinks > Optional.</p>
    
<hr>

<h2 id="templates"><strong>Custom Page Templates</strong> <a href="#toc">top</a></h2>

<p>You can apply a custom template to any page with a couple clicks.</p>

<ol>
    <li>Open a page or create one</li>
    <li>Title it, add your content, configure header image, sub title, etc&hellips;</li>
    <li>Find Page Attributes > Template</li>
    <li>Select one</li>
    <li>Publish or Update!</li>
</ol>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/page-template.png" />
</figure>

<h3>Big Map (template-big-map.php)</h3>

<p>Exactly as it sounds this is used to display a full screen map with all your listings, <a href="http://wp.contempographicdesign.com/wp-real-estate-7/multi-demo/home-big-map/">demo</a>.</p>

<h3>Contact (template-contact.php)</h3>

<p>This includes a large map, contact form and widget area.</p>

<ol>
    <li>Go into Real Estate 7 Options > Contact > Fill in your details</li>
    <li>Go into Appearance > Widgets > find the CT Contact Info widget</li>
    <li>Add it to the Right Sidebar Contact Page area</li>
    <li>Create a Page</li>
    <li>Title it Contact or whatever you'd like</li>
    <li>Apply the Contact template</li>
    <li>Publish</li>
</ol>

<h3>Full Width (template-full-width.php)</h3>

<p>Use this for full width content pages.</p>

<h3>Left Sidebar (template-left-sidebar.php)</h3>

<p>Use this to swap the sidebar over to the left (right is default).</p>

<h3>Sitemap (template-sitemap.php)</h3>

<p>Displays all the content of your site in a orgainized fashion, great for SEO.</p>

<h3>Testimonials (template-testimonials.php)</h3>

<p>Use this to display testimonials. NOTE: testimonials aren't meant to be queried like normal category archives, you must use this template in order for them to display correctly.</p>

<hr>

<h2 id="widgets"><strong>Custom Widgets</strong> <a href="#toc">top</a></h2>

<ul>
    <li><strong>Adspace</strong> - Use this widget to add any type of Ad as a widget.</li>
    <li><strong>Agent Info</strong> - Use this widget to display your listing agent information, can only be used in the Listing Single sidebar as it relies on listing information for content.</li>
    <li><strong>Agents Other Listings</strong> - Display your agents other listings, can only be used in the Listing Single sidebar as it relies on listing information to function properly.</li>
    <li><strong>Blog Author Info</strong> - Use this widget to tell your audience a little bit about your company and all the awesome things you do! Optional Gravatar, and Read More link.</li>
    <li><strong>Broker Info</strong> - Use this widget to display your brokers information.</li>
    <li><strong>Contact Info</strong> - Use this widget to display your contact information.</li>
    <li><strong>Flickr</strong> - Use this widget to populate photos from a Flickr ID.</li>
    <li><strong>Follow Us</strong> - Use this widget to show your social profiles.</li>
    <li><strong>Latest Posts</strong> - Use this widget to display your latest posts.</li>
    <li><strong>Listings</strong> - Use this widget to display your listings from any taxonomy and tag combo.</li>
    <li><strong>Listings Agent Contact</strong> - Display an agent contact form. Can only be used in the Listing Single sidebar as it relies on listing information for content.</li>
    <li><strong>Listings Search</strong> - Use this widget to display the advanced listings search form.</li>
    <li><strong>Search</strong> - Use this widget to display the blog search form.</li>
    <li><strong>Tabs</strong> - Use this widget to display Latest Posts, Recent comments and a Tag cloud.</li>
</ul>

<hr>

<h2 id="wpml"><strong>WPML</strong> <a href="#toc">top</a></h2>
<p>This theme is WPML compatible, the plugin makes it easy to translate your website into multiple languages. The “String Translation module” is included with the "Multilingual CMS package" and will allow you to translate any strings not included inside posts, pages or taxonomies. It’s very easy to use and is located at WPML > String Translation.</p>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/wpml.png" />
</figure>

<p>Below is the link to the guide on the WPML website which goes into greater detail. I would strongly recommend you check it out.</p>

<p><a class="button button-primary" href="https://wpml.org/purchase/?aid=9098&affiliate_key=lzBo0CYyVMbn" target="_blank">Get WPML Here</a> <a class="button" href="https://wpml.org/documentation/getting-started-guide/string-translation/?aid=9098&affiliate_key=lzBo0CYyVMbn" target="_blank">View Documentation</a></p>

<p>Once installed and configured the lang switcher in the header will automatically appear, based on the languages you've set.</p>

<hr>

<h2 id="translation"><strong>Translation</strong> <a href="#toc">top</a></h2>
<p>Need to translate the theme into another language? No problem, it's fully localized and translation ready. Follow the simple steps below:</p>

<h4>With a Plugin (Recommended)</h4>

<p>Easiest way is to use a plugin like <a class="button button-primary" href="https://wpml.org/purchase/?aid=9098&affiliate_key=lzBo0CYyVMbn" target="_blank">WPML</a> above, everything is done through your WordPress admin and its simple as 1, 2, 3!</p>

<h4>Manually with POEdit - Theme</h4>

<p>This is the more labor intensive way, it requires downloading third-party software, making file edits offline and uploading via FTP using a program like <a href="https://filezilla-project.org/">FileZilla</a>. I'd recommend using the plugin method above.</p>

<h5>1. Download and install PoEdit.</h5>

<p>We need PoEdit to translate a theme. Its a free software and its available for Mac, Windows and Linux. Download PoEdit from <a href="http://www.poedit.net/download.php">this page</a>.</p>

<h5>2. Create a new catalog (the local language file)</h5>

<ul>
    <li>Start PoEdit and click on the File menu and select the option New catalog from PO file.</li>
    <li>This will open the file dialog box. Go to the languages folder of the theme. Select All Files from the file dialog box, and open the en_US.po file in the languages folder.</li>
    <li>Now PoEdit will ask you for various configuration options. The most important thing here is to choose the correct country and language you are translating to.</li>
    <li>In the remaining fields of the configuration window, fill the required information or just leave them empty.</li>
    <li>Now click on the Paths tab and change the path variable to the place where your theme files are located.</li>
    <li>Then press OK.</li>
</ul>

<p>Now PoEdit will ask you to name the file. Its very important to name the file correctly. The naming convention for these files is languageCode_countryCode. The language code must be in lower case while the country code should be in upper case. So, if you are translating the theme for UK English, the file name will be en_UK. Similarly, for translation to french, it will be fr_FR and so on. You can find a list of language codes at this page and country codes <a href="https://make.wordpress.org/polyglots/teams/" target="_blank">here</a>.</p>

<h5>3. Translate the Theme</h5>

<p>This is the step where we will actually translate the theme. After Step 2 above, you'll see the standard interface of PoEdit where the left panel contain the strings in the original language and the right panel containing the translations. The right panel will be empty as we haven't started the translation yet.</p>

<p>Start translating each string one by one. Click on the first string and press Tab button. This will take you to the translation box in the bottom. Type the translation here. Your change will reflect immediately in the right panel. Once you are done with this string, press Enter and move on to the second string. Repeat this procedure until all the strings are translated. After the translation is done, save the file.</p>

<h5>4. Upload The Files To Your Server</h5>

<p>When you save the catalog file in Step 3 above, PoEdit will create two files, a .po file and a .mo file. Upload both these files to the languages directory of your theme.</p>

<h5>5. Last Step</h5>

<p>Then go into your WordPress Admin > Settings > General > Site Language (bottom) > Choose that language > Save Changes.</p>

<h4>Manually with POEdit - Plugin</h4>

<h5>2. Create a new catalog (the local language file)</h5>

<ul>
    <li>Start PoEdit and click on the File menu and select the option New catalog from PO file.</li>
    <li>This will open the file dialog box. Go to the languages folder of the plugin. Select All Files from the file dialog box, and open the en_US.po file in the languages folder.</li>
    <li>Now PoEdit will ask you for various configuration options. The most important thing here is to choose the correct country and language you are translating to.</li>
    <li>In the remaining fields of the configuration window, fill the required information or just leave them empty.</li>
    <li>Now click on the Paths tab and change the path variable to the place where your theme files are located.</li>
    <li>Then press OK.</li>
</ul>

<p>Now PoEdit will ask you to name the file. Its very important to name the file correctly. The naming convention for these files is contempo-languageCode_countryCode. The language code must be in lower case while the country code should be in upper case. So, if you are translating the theme for UK English, the file name will be en_UK. Similarly, for translation to french, it will be contempo-fr_FR.po and so on. You can find a list of language codes at this page and country codes <a href="https://make.wordpress.org/polyglots/teams/" target="_blank">here</a>.</p>

<h5>3. Translate the Plugin</h5>

<p>This is the step where we will actually translate the plugin. After Step 2 above, you'll see the standard interface of PoEdit where the left panel contain the strings in the original language and the right panel containing the translations. The right panel will be empty as we haven't started the translation yet.</p>

<p>Start translating each string one by one. Click on the first string and press Tab button. This will take you to the translation box in the bottom. Type the translation here. Your change will reflect immediately in the right panel. Once you are done with this string, press Enter and move on to the second string. Repeat this procedure until all the strings are translated. After the translation is done, save the file.</p>

<h5>4. Upload The Files To Your Server</h5>

<p>When you save the catalog file in Step 3 above, PoEdit will create two files, a .po file and a .mo file. Upload both these files to the languages directory of your plugin in wp-content > plugins > contempo-real-estate-custom-posts > languages.</p>

<h5>5. Last Step</h5>

<p>Then go into your WordPress Admin > Settings > General > Site Language (bottom) > Choose that language > Save Changes.</p>

<hr>

<h2 id="css"><strong>CSS</strong> <a href="#toc">top</a></h2>

<h3>Main Stylesheet - style.css</h3>

<p>This file contains the styling table of contents, outlining the different files included and where each styles are coming from.</p>

<ul class="no-bullet">
    <li>1. Base (css/base.css)
    <ul class="no-bullet">
        <li>1.1 Reset</li>
        <li>1.2 General</li>
        <li>1.3 Typography</li>
        <li>1.4 Margins &amp; Padding</li>
        <li>1.5 Links</li>
        <li>1.6 Lists</li>
        <li>1.7 Images &amp; Video</li>
        <li>1.8 Buttons</li>
        <li>1.9 Tabs</li>
        <li>1.10 Forms</li>
        <li>1.11 Tables</li>
        <li>1.12 Notifications</li>
        <li>1.13 Widgets</li>
        <li>1.14 Misc</li>
    </ul>
    </li>
</ul>
<ul class="no-bullet">
    <li>2. Framework (css/responsive-gs-12col.css)</li>
</ul>
<ul class="no-bullet">
    <li>3. Layout (css/layout.css)
        <ul class="no-bullet">
            <li>3.1 Site Styles</li>
            <li>3.2 Page Styles</li>
            <li>3.3 Media Queries</li>
        </ul>
    </li>
</ul>

<p>If you would like to edit a specific section of the site, simply find the appropriate label in the CSS file, and then scroll down until you find the appropriate style that needs to be edited.</p>

<h3>Other Stylesheets Included</h3>

<ul>
    <li><strong>css/comments.css</strong> - styles for comments.</li>
    <li><strong>css/ct-dropdowns.css</strong> - styles for the main navigation.</li>
    <li><strong>css/flexslider-direction-nav.css</strong> - styles for FlexSlider navigation, recommend leaving this file alone.</li>
    <li><strong>css/flexslider.css</strong> - styles for FlexSlider, recommend leaving this file alone.</li>
    <li><strong>css/fontawesome.css</strong> - styles for FontAwesome, recommend leaving this file alone.</li>
    <li><strong>css/ie.css</strong> - styles for IE.</li>
    <li><strong>css/page-builder-blocks.css</strong> - styles for page builder blocks, recommend leaving this file alone.</li>
    <li><strong>css/prettyPhoto.css</strong> - styles for PrettyPhoto, recommend leaving this file alone.</li>
    <li><strong>css/ie.css</strong> - styles for Safari.</li>
    <li><strong>css/validationEngine.jquery.css</strong> - form validation styles, recommend leaving this file alone.</li>
</ul>

<hr>

<h2 id="javascript"><strong>JavaScript</strong> <a href="#toc">top</a></h2>

<ul>
    <li><strong>base.js</strong> - This is the main JS file it controls a few different things, its well commented for easy customization.</li>
    <li><strong>classie.js </strong> - Used for class helper functions.</li>
    <li><strong>ct.account.js</strong> - Used for login/register ajax validation.</li>
    <li><strong>ct.address.autocomplete.js</strong> - Used for google maps address search autocomplete.</li>
    <li><strong>ct.advanced.search.js</strong> - Used for ajax search chaining.</li>
    <li><strong>ct.gallery.js</strong> - Used for cleaning up the standard WordPress gallery shortcode output.</li>
    <li><strong>ct.infobox.js</strong> - Used for custom map infoboxes.</li>
    <li><strong>ct.lightbox.js</strong> - Used for displaying images in a lightbox.</li>
    <li><strong>ct.mapping.js</strong> - Used for mapping.</li>
    <li><strong>ct.mobile.menu.js</strong> - Used for mobile menu select.</li>
    <li><strong>ct.select.js</strong> - Used for applying custom select styling to form element.</li>
    <li><strong>ct.tooltip.min.js</strong> - Used for the main navigation dropdowns.</li>
    <li><strong>ct.wpfp.js</strong> - Used for the WP Favorite Posts plugin.</li>
    <li><strong>jquery.customSelect.min.js</strong> - Used for applying custom select styling to form element.</li>
    <li><strong>jquery.cycle.lite.js</strong> - Used for testimonials widget.</li>
    <li><strong>jquery.easing.1.3.js</strong> - Used for animations.</li>
    <li><strong>jquery.fitvids.js</strong> - Used for fluid width video embeds.</li>
    <li><strong>jquery.flexslider.min.js</strong> - Used for Flexslider.</li>
    <li><strong>jquery.hammer.min.js</strong> - Used for hammer trigger jQuery events.</li>
    <li><strong>jquery.sortable.min.js</strong> - Used for sortable elements.</li>
    <li><strong>jquery.transit.min.js</strong> - Used for animations.</li>
    <li><strong>jquery.validationEngine.js</strong> - The form validation is handled by this file, this one doesn't require any editing.</li>
    <li><strong>markerclusterer.js</strong> - Used for clustering map markers.</li>
    <li><strong>markerwithlabel.js</strong> - Used for custom map maker labels.</li>
    <li><strong>modernizer.custom.js</strong> - Used for browser feature detection.</li>
    <li><strong>plupload.full.min.js</strong> - Used for file uploads.</li>
    <li><strong>respond.min.js</strong> - A lightweight polyfill for old version of IE.</li>
    <li><strong>toucheffects.js</strong> - Used for mobile device touch effects.</li>
    <li><strong>waypoints.min.js</strong> - Used for setting waypoints for scroll effects, e.g. sticky header.</li>
</ul>

<hr>

<h2 id="psd"><strong>PSD Files</strong> <a href="#toc">top</a></h2>

<p>This is a responsive design so no layout PSDs are included, but if you'd like to say mock up a new template I'd recommend screenshoting the live site then opening that in your favorite editor say Photoshop then making your edits by cutting and slicing.</p>

<p>The single PSD that is included is for the listing map pin, located in the PSD folder from the main download.</p>

<hr>

<h2 id="childthemes"><strong>Child Theme Generator</strong> <a href="#toc">top</a></h2>

<p>With WP Pro Real Estate 7 you can create child theme in a couple clicks! No fussing about with creating files, folders, FTP, etc&hellip;</p>

<h3>Why Use a Child Theme?</h3>

<p>There are a few reasons why you would want to use a child theme:</p>

<ul>
    <li> If you modify a theme directly and it is updated, then your modifications may be lost. By using a child theme you will ensure that your modifications are preserved.</li>
    <li> Using a child theme can speed up development time.</li>
    <li> Using a child theme is a great way to to learn about WordPress theme development.</li>
</ul>

<h3>How to Create a Child Theme</h3>

<ol>
    <li>Go into your WordPress Admin</li>
    <li>Appearance > Create Child Theme</li>
    <li>Fill in the Name &amp; Description</li>
    <li>Click Create Child</li>
    <li>Happy Editing!</li>
</ol>

<h3>Find any CSS property, Quickly &amp; Easily</h3>

<p>A theme can contains thousands of CSS properties, a super quick and easy way to find what controls what is using your browsers built-in developer tools. Once you learn how to leverage this you'll be saying "How did I ever get along without this in the past!".</p>

<ol>
    <li>Open your site in your favorite browser, like Google Chrome ;)</li>
    <li>Find the element you'd like to modify</li>
    <li>Right click > Inspect Element</li>
    <li>You'll notice a new pane open in the bottom of your browser window</li>
    <li>One with Source Code and the other CSS</li>
    <li>That's it!</li>
</ol>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/dev-tools.png" />
</figure>

<h3>More resources on Using Child Themes</h3>

<ul>
    <li><a href="http://support.contempographicdesign.com/?knowledgebase=override-non-standard-files-in-child-theme">Override Non-Standard Files in Child Theme</a></li>
    <li><a href="https://codex.wordpress.org/Child_Themes">WordPress Codex: Child Themes</a></li>
    <li><a href="http://www.wpbeginner.com/beginners-guide/wordpress-child-theme-pros-cons/">WordPress Child Themes Pros &amp; Cons</a></li>
    <li><a href="http://premium.wpmudev.org/manuals/the-buddypress-manual-2/what-are-parent-and-child-themes/">What are Parent and Child Themes?</a></li>
</ul>

<hr>

<h2 id="advdev"><strong>Advanced Development</strong> <a href="#toc">top</a></h2>

<h3>How To Use Action Hooks</h3>

<p>Action Hooks are a very useful tool in WordPress and they are used to perform functions (actions) in specific places of a theme or plugin. Many themes and plugins, such as Real Estate 7, use action hooks as an easy way for users to modify the output of the project or to add their own custom code.</p>

<h4>1. do_action, add_action &amp; remove_action</h4>

<p>There are 2 main functions you need to know to understand how hooks work:</p>

<ol>
    <li>do_action() –  where the “hooked” functions are run</li>
    <li>add_action() – attaches a function to a hook as defined by do_action</li>
    <li>remove_action() – removes a function attached to a specified action hook</li>
</ol>

<p>So the do_action functions are already added to the Real Estate 7 theme and will run whenever something is hooked into them via add_action. So you, as the user, will be using the add_action and remove_action functions only to make your modifications.</p>

<p>If you need a better explanation of these functions please click on the links above so you can learn about them on the WordPress CODEX.</p>

<h4>2. WP Pro Real Estate Theme Hooks</h4>

<p>The Real Estate 7 WordPress theme includes many useful action “hooks” which will allow you to easily add/remove elements from the base theme layout. You can see a list of all the different hooks inside the theme at realestate-7/admin/hooks.php (screenshot below). Notice how these are all using the “do_action” function? That’s because these are all functions that will run in specific places of the theme.</p>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/theme-hooks.png" />
</figure>

<h4>3. Using Hooks For Theme Modifications?</h4>

<p>The theme hooks aren’t just there for the theme itself, they are also there for you! You can use any of the theme’s hooks to run your own functions or HTML.</p>

<h5>Where Are My Custom Hook Functions Added?</h5>

<p>When using the hooks to modify the theme you’ll want to add your code in the functions.php file of your child theme. You can generate a child theme easly via the admin in Appearance > Child Theme.</p>

<h5>What Hook Should I Use?</h5>

<p>When you look at the various hooks in the hooks.php file you will notice they have very obvious names for example the hook name "ct_before_header" is going to be a hook that is added before the theme’s header. If you have any doubts you can always look up the name of the hook (by searching the theme files) and see where it’s being added in the theme’s code.</p>

<h4>4. Adding An Action (Example)</h4>

<p>Hopefully by now you understand what action hooks are and how they work. However, if you are still a bit confused hopefully an example will help!</p>

<h5>Add Extra Text Under Your Header</h5>

<p>A good example of using an action hook may be adding extra text under your header. This could be useful for adding a banner to your site, advertisement in the header, maybe an alternative logo (to display on mobile devices – by using CSS to show/hide each one accordingly), adding a quote&hellip;etc.</p>

<script src="https://gist.github.com/contempoinc/f01a3ca830089da7cb02.js"></script>

<p>Result: See our text added under the header? That’s how easy it is to add extra content to the Real Estate 7 theme! Now that you are a pro go out there and make something cool for your client!</p>

<figure>
    <img src="http://wp.contempographicdesign.com/wp-real-estate-7/documentation/assets/images/hook-result.png" />
</figure>

<hr>

<h2 id="support"><strong>Support</strong> <a href="#toc">top</a></h2>

<p>Please see the <a href="http://support.contempographicdesign.com/">Support Site</a>.</p>

<hr>

<h2 id="faq"><strong>FAQ</strong> <a  href="#toc">top</a></h2>

<p>Please see the <a href="http://support.contempographicdesign.com/?post_type=knowledgebase">Knowledgebase</a> on the support site.</p>

<hr>

<p>Once again, thank you so much for purchasing this theme. As I said at the beginning, I'd be glad to help you if you have any questions relating to this theme.</p> 

<p><a href="#toc">Go To Table of Contents</a></p>