/*
Theme Name:     realestate-7-child
Description:    realestate-7-child
Author:         admin
Template:       realestate-7
Version:		1.4.6

(optional values you can add: Theme URI, Author URI, Version)
*/

@import url("../realestate-7/style.css");
/*-------- styles in header nav--------*/
.span_9{
	width: 100%;
	margin-left: 0;
}
.span_9 .right{
	width: 100%;
}
.span_9 .right .cbp-tm-menu {
	text-align: center;
}
.cbp-tm-menu > li > a{
	padding: 0 14px;
	margin: 0 0 11px;
}
@media ( min-width : 960px  ) and (max-width: 1100px) {
	.cbp-tm-menu > li > a{
		padding: 0 9px;
		font-size: 0.9em;
	}
}
/*--------end styles in header nav--------*/
